.filter-section {
    padding: 0 10px;
    padding-top: 10px;
    background: #f8f9fa;
    border-radius: 5px;
}

.filter-options {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-input {
    min-width: 200px;
}

.select-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon-right {
    position: absolute;
    right: 10px;
    pointer-events: none;
}